<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
  <title>Título da Página</title>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">//APLICAÇÃO//</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="cadastro.html">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="perfil.html">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lista.html">Lista de Produtos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body class="bg-light">
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Lista de Produtos</h2>
          <a href="Cadprodutos.html" class="btn btn-primary">Cadastrar Produto</a>
          <a href="editar.html" class="btn btn-primary">Editar Produto</a>
          <a href="excluir.html" class="btn btn-primary">Excluir Produto</a>
  
          <ul class="list-group mt-3">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Produto 1
              <span class="badge badge-primary badge-pill text-dark">R$ 50,00</span>
            
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Produto 2
              <span class="badge badge-primary badge-pill text-dark">R$ 75,00</span>
             
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Produto 3
              <span class="badge badge-primary badge-pill text-dark">R$ 120,00</span>
           
            </li>
          </ul>
        </div>
      </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
